*.sh
.*
*.out
*.exe
*.class
*.o
*.s
*.srec
*.sublime-workspace
*.obj
*.log

tmp.txt
fs/Debug/
test.c
a.out
include/*.c

.vscode/
fs/cmake-build-debug/
expri/
gen_bin_code
reformat_srec.class
shell.txt

RexSimulator.dll
RexSimulatorGui.exe

!kernel/winix/kwramp.s
!lib/ucontext.s
!lib/wramp_syscall.s
!lib/debug.s
!winix/kwramp.s
!winix/limits/limits_head.s
!winix/limits/limits_tail.s
!.gitignore

