*.sh
.*
*.out
*.exe
*.class
*.o
*.s
*.srec
*.sublime-workspace

tmp.txt
a.out

.vscode/
fs/cmake-build-debug/
expri/
gen_bin_code
reformat_srec

RexSimulator.dll
RexSimulatorGui.exe

!kernel/winix/kwramp.s
!lib/ucontext.s
!lib/wramp_syscall.s
!kernel/util/limits_head.s
!kernel/util/limits_tail.s
!.gitignore

